<!DOCTYPE html>
<html>
<head>
  <base href="..">
    <meta charset="utf-8">
    {{#title}}
      <title>{{.}} | Matthew Phillips</title>
    {{else}}
      <title>Matthew Phillips</title>
    {{/title}}

    <meta name="author" content="Matthew Phillips">
    <meta name="date" content="{{date}}">

    <link rel="stylesheet" href="styles//normalize.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Code+Pro:300,600">
    <link rel="stylesheet" href="styles/screen.css">
    <link rel="stylesheet" href="styles/github.css">
</head>
<body>
  <section class="content">
    <header>
      <h1 id="gistid"><a href="https://gist.github.com/{{id}}">gist #{{id}}</a></h1>
      <h2 id="description" class="instapaper_title entry-title">
        <span id="prompt"><span class="host">matthew@local</span><span>:</span><span class="tilde">~</span><span class="dollar">$<?span></span>
        <span> echo '{{title}}'</span>
      </h2>
    </header>

    <div id="gistbody" class="instapaper_body entry-content">
      <article>
        {{{content}}}
      </article>
    </div>
    <footer style="display: block">
      <p>Matthew Phillips</p>
    </footer>
  </section>
</body>
</html>
